<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yue.mapper.EmpMapper">

    <!-- update employee basic information by employee id -->
    <!-- The `set` tag: automatically generates the `set` keyword; -->
    <!-- automatically removes redundant commas after updating fields. -->
    <update id="updateById">
        UPDATE emp
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="job != null">job = #{job},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="entryDate != null">entry_date = #{entryDate},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- delete employee basic information by employee ids -->
    <delete id="deleteByIds">
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="empList" resultType="com.yue.pojo.vo.EmpVO">
        SELECT e.*, d.name AS deptName
        FROM emp AS e LEFT JOIN dept AS d ON e.dept_id = d.id
        <where>
            <if test="name != null and name != ''">
                e.name LIKE CONCAT ( '%', #{name}, '%' )
            </if>
            <if test="gender != null">
                AND e.gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                AND e.entry_date BETWEEN #{begin} AND #{end}
            </if>
        </where>
        ORDER BY e.update_time DESC
    </select>

    <!-- select employee basic information by employee id -->
    <select id="getById" resultType="com.yue.pojo.entity.Emp">
        SELECT * FROM emp WHERE id = #{id}
    </select>

    <select id="countEmpJobData" resultType="java.util.Map">
        SELECT
        (CASE job WHEN 1 THEN 'head teacher'
        WHEN 2 THEN 'lecturer'
        WHEN 3 THEN 'Student Affairs Supervisor'
        WHEN 4 THEN 'Teaching and Research Supervisor'
        WHEN 5 THEN 'Consultant'
        ELSE 'other' END) AS pos,
        COUNT(*) AS num
        from emp
        GROUP BY job
        ORDER BY num;
    </select>

    <!-- count employee basic information by gender -->
    <select id="countEmpGenderData" resultType="java.util.Map">
        SELECT
        IF(gender = 1, 'male', 'female') AS name,
        count(*) AS value
        FROM emp
        GROUP BY gender;
    </select>

    <!-- query all employee basic information -->
    <select id="queryAll" resultType="com.yue.pojo.vo.EmpVO">
        SELECT
            id,
            username,
            name,
            gender,
            image,
            job,
            salary,
            dept_id,
            entry_date,
            create_time,
            update_time
        FROM emp
    </select>

    <!-- query employee basic information by username -->
    <select id="getByUsername" resultType="com.yue.pojo.entity.Emp">
        SELECT id, username, password, name
        FROM emp
        WHERE username = #{username}
    </select>
</mapper>