<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yue.mapper.EmpMapper">
    <!-- 根据 ID 更新员工的基本信息 -->
    <!-- set 标签：自动生成 set 关键字；会自动删除掉更新字段后多余的 ","  -->
    <update id="updateById">
        UPDATE emp
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="job != null">job = #{job},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="entryDate != null">entry_date = #{entryDate},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 批量删除员工的基本信息 -->
    <delete id="deleteByIds">
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="empList" resultType="com.yue.pojo.vo.EmpVO">
        SELECT e.*, d.name AS deptName
        FROM emp AS e LEFT JOIN dept AS d ON e.dept_id = d.id
        <where>
            <if test="name != null and name != ''">
                e.name LIKE CONCAT ( '%', #{name}, '%' )
            </if>
            <if test="gender != null">
                AND e.gender = #{gender}
            </if>
            <if test="begin != null and end != null">
                AND e.entry_date BETWEEN #{begin} AND #{end}
            </if>
        </where>
        ORDER BY e.update_time DESC
    </select>

    <!-- select employee basic information by employee id -->
    <select id="getById" resultType="com.yue.pojo.entity.Emp">
        SELECT * FROM emp WHERE id = #{id}
    </select>

    <select id="countEmpJobData" resultType="java.util.Map">
        SELECT
        (CASE job WHEN 1 THEN '班主任'
        WHEN 2 THEN '讲师'
        WHEN 3 THEN '学工主管'
        WHEN 4 THEN '教研主管'
        WHEN 5 THEN '咨询师'
        ELSE '其他' END) AS pos,
        COUNT(*) AS num
        from emp
        GROUP BY job
        ORDER BY num;
    </select>

    <!-- 统计员工性别人数 -->
    <select id="countEmpGenderData" resultType="java.util.Map">
        SELECT
        IF(gender = 1, '男性员工', '女性员工') AS name,
        count(*) AS value
        FROM emp
        GROUP BY gender;
    </select>

    <select id="queryAll" resultType="com.yue.pojo.entity.Emp">
        SELECT
            id,
            username,
            password,
            name,
            entry_date,
            gender,
            image,
            job,
            salary,
            dept_id,
            create_time,
            update_time
        FROM emp
    </select>

    <select id="getByUsername" resultType="com.yue.pojo.entity.Emp">
        SELECT id, username, password, name
        FROM emp
        WHERE username = #{username}
    </select>
</mapper>